<a href="https://colab.research.google.com/github/brunavent/Projetos-de-ML/blob/master/Covid19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
file = '/covid_19_clean_complete.csv'
df = pd.read_csv(file, sep=',' , parse_dates=['Date'])

In [0]:
import warnings
warnings.filterwarnings('ignore')

In [7]:
df.head(10)

                 Province/State       Country/Region  ...  Deaths  Recovered
0                           NaN          Afghanistan  ...       0          0
1                           NaN              Albania  ...       0          0
2                           NaN              Algeria  ...       0          0
3                           NaN              Andorra  ...       0          0
4                           NaN               Angola  ...       0          0
5                           NaN  Antigua and Barbuda  ...       0          0
6                           NaN            Argentina  ...       0          0
7                           NaN              Armenia  ...       0          0
8  Australian Capital Territory            Australia  ...       0          0
9               New South Wales            Australia  ...       0          0

[10 rows x 8 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19836 entries, 0 to 19835
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  6080 non-null   object
 1   Country/Region  19836 non-null  object
 2   Lat             19836 non-null  float64
 3   Long            19836 non-null  float64
 4   Date            19836 non-null  datetime64[ns]
 5   Confirmed       19836 non-null  int64
 6   Deaths          19836 non-null  int64
 7   Recovered       19836 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(3), object(2)
memory usage: 1.2+ MB

In [0]:
df['Active'] = df['Confirmed'] - df['Deaths'] - df['Recovered']

In [0]:
df['Country/Region'] = df['Country/Region'].replace('Mainland China', 'China')

In [0]:
df[['Province/State']] = df[['Province/State']].fillna('')
df[['Confirmed', 'Deaths', 'Recovered', 'Active']] = df[['Confirmed', 'Deaths', 'Recovered', 'Active']].fillna(0)

In [0]:
df['Recovered'] = df['Recovered'].astype(int)

In [15]:
df.head()

  Province/State Country/Region      Lat  ...  Deaths Recovered  Active
0                   Afghanistan  33.0000  ...       0         0       0
1                       Albania  41.1533  ...       0         0       0
2                       Algeria  28.0339  ...       0         0       0
3                       Andorra  42.5063  ...       0         0       0
4                        Angola -11.2027  ...       0         0       0

[5 rows x 9 columns]

In [16]:
df.Date.describe()

count                   19836
unique                     76
top       2020-01-25 00:00:00
freq                      261
first     2020-01-22 00:00:00
last      2020-04-06 00:00:00
Name: Date, dtype: object

In [0]:
df_agrupado = df.groupby(['Date', 'Country/Region'])['Confirmed', 'Deaths', 'Recovered', 'Active'].sum().reset_index()

In [18]:
df_agrupado.sort_values(by='Confirmed', ascending=False)

            Date Country/Region  Confirmed  Deaths  Recovered  Active
13971 2020-04-06             US     366614   10783      19581  336250
13787 2020-04-05             US     337072    9619      17448  310005
13603 2020-04-04             US     308850    8407      14652  285791
13419 2020-04-03             US     275586    7087       9707  258792
13235 2020-04-02             US     243453    5926       9001  228526
...          ...            ...        ...     ...        ...     ...
8756  2020-03-09     Mauritania          0       0          0       0
4967  2020-02-17       Zimbabwe          0       0          0       0
8754  2020-03-09           Mali          0       0          0       0
4968  2020-02-18    Afghanistan          0       0          0       0
0     2020-01-22    Afghanistan          0       0          0       0

[13984 rows x 6 columns]

In [0]:
df_group_paises = df.groupby('Country/Region')['Confirmed', 'Deaths', 'Recovered', 'Active'].sum().reset_index()

In [20]:
df_group_paises.sort_values(by='Confirmed', ascending=False)

            Country/Region  Confirmed  Deaths  Recovered   Active
36                   China    4683417  165756    2847170  1670491
171                     US    2831915   64777      98681  2668457
84                   Italy    1942859  206052     266247  1470560
156                  Spain    1472568  123441     295573  1053554
65                 Germany    1142172   12016     217756   912400
..                     ...        ...     ...        ...      ...
103                 Malawi         19       0          0       19
166            Timor-Leste         16       0          0       16
181         Western Sahara          8       0          0        8
143  Sao Tome and Principe          4       0          0        4
155            South Sudan          2       0          0        2

[184 rows x 5 columns]

In [0]:
temp = df.groupby('Date')['Recovered', 'Deaths', 'Active'].sum().reset_index()

In [0]:
temp = temp.melt(id_vars="Date", value_vars=['Recovered', 'Deaths', 'Active'],
                 var_name='Case', value_name='Count')

In [23]:
temp.head(20)

         Date       Case  Count
0  2020-01-22  Recovered     28
1  2020-01-23  Recovered     30
2  2020-01-24  Recovered     36
3  2020-01-25  Recovered     39
4  2020-01-26  Recovered     52
5  2020-01-27  Recovered     61
6  2020-01-28  Recovered    107
7  2020-01-29  Recovered    126
8  2020-01-30  Recovered    143
9  2020-01-31  Recovered    222
10 2020-02-01  Recovered    284
11 2020-02-02  Recovered    472
12 2020-02-03  Recovered    623
13 2020-02-04  Recovered    852
14 2020-02-05  Recovered   1124
15 2020-02-06  Recovered   1487
16 2020-02-07  Recovered   2011
17 2020-02-08  Recovered   2616
18 2020-02-09  Recovered   3244
19 2020-02-10  Recovered   3946

In [24]:
from plotly.offline import plot, iplot, init_notebook_mode
init_notebook_mode(connected=True)

In [0]:
import plotly.io as pio
pio.renderers
pio.renderers.default = "colab"

In [0]:
Recuperados = '#21bf73'
Mortes = '#ff2e63'
Ativos = '#fe9801'

In [27]:
import plotly.express as px
fig = px.area(temp,
             x="Date",
             y="Count",
             color='Case',
             height=600,
             title='Casos a longo do tempo',
             color_discrete_sequence = [Recuperados, Mortes, Ativos])
fig.update_layout(xaxis_rangeslider_visible=True)
fig.show()